.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 4rem;
    background-color: var(--primary-back);
    border-bottom: 3px solid var(--secondary);

    padding: 0 1rem;
}