.headerSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .text {
        font-size: 1.5rem;

        &.small {
            font-size: 1rem;
        }
    }
    .icon {
        height: 40px;
    }
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    gap: 2rem;

    margin: 2rem;
}

.containerSpotify {
    iframe {
        max-width: 800px;
    }
}

.containerSongs {
    .songCard {
        cursor: pointer;
    }
    .songInfo {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;

        .songInfoItem {
            padding: 4px 6px;
            margin-top: 4px;
            background-color: rgba(32, 32, 32, 0.8);
            border-radius: 8px;
            text-align: end;
        }
    }
}