.appContainer {
  background-color: var(--primary-back);
  background-size: 40px 40px;
  background-position-y: 10px;
  background-image: radial-gradient(
    circle,
    var(--secondary-back) 1px,
    rgba(0, 0, 0, 0) 2px
  );
  animation-name: MOVE-BG;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes MOVE-BG {
  from {
    background-position-x: 0px;
    background-position-y: 0px;
  }
  to {
    background-position-x: -120px;
    background-position-y: 120px;
  }
}
